<h3 name="flightHeader"></h3>
<div class="row">
  <p class="col-12" name="flightNumber"></p>
  <p class="col-6 font-weight-bold"></p>
  <p class="col-6 font-weight-bold"></p>
  <p class="col-6" name="origin"></p>
  <p class="col-6" name="destination"></p>
  <p class="col-6 font-weight-bold"></p>
  <p class="col-6 font-weight-bold"></p>
  <p class="col-6" name="travelClass"></p>
  <p class="col-6" name="seatsRem"></p>
</div>
<hr>