  <h3 name="hotelName"></h3>
  <h5 name="date"></h5>
  <div class="row">
  <p class="col-6 font-weight-bold">Address</p>
  <p class="col-6 font-weight-bold">Phone Number</p>
  <p class="col-6" name="address"></p>
  <p class="col-6" name="phoneNo"></p>
  <p class="col-6 font-weight-bold">Price/night</p>
  <p class="col-6 font-weight-bold">Total Price</p>
  <p class="col-6" name="ppm"></p>
  <p class="col-6" name="totPrice"></p>
</div>
<hr>