<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
  crossorigin="anonymous">

<div class="container">
  <br>
  <h3>TFW you need inspiration</h3>
  <br>
  <h4>National Parks
    <i class="fas fa-tree"></i>
  </h4>
  <table>
    <tr>
      <th >Location</th>
      <th class="pl-3">Duration of Stay</th>
      <th class="pl-3">Mode of Transportation</th>
    </tr>
    <tr>
      <td>Acadia National Park</td>
      <td class="pl-3">2 days</td>
      <td class="pl-3">Plane</td>
    </tr>
    <tr>
      <td>Grand Teton National Park</td>
      <td class="pl-3">1 days</td>
      <td class="pl-3">Train</td>
    </tr>
    <tr>
      <td>Crater Lake National Park</td>
      <td class="pl-3">2 days</td>
      <td class="pl-3">Plane</td>
    </tr>
    <tr>
      <td>Kenai Fjords National Park</td>
      <td class="pl-3">3 days</td>
      <td class="pl-3">Plane</td>
    </tr>
  </table>
<br>
  <h4>Europe
      <i class="fas fa-euro-sign"></i>
    </h4>
    <table>
      <tr>
        <th >Location</th>
        <th class="pl-3">Duration of Stay</th>
        <th class="pl-3">Mode of Transportation</th>
      </tr>
      <tr>
        <td>London</td>
        <td class="pl-3">7 days</td>
        <td class="pl-3">Train</td>
      </tr>
      <tr>
        <td>Paris</td>
        <td class="pl-3">5 days</td>
        <td class="pl-3">Plane</td>
      </tr>
      <tr>
        <td>Rome</td>
        <td class="pl-3">3 days</td>
        <td class="pl-3">Plane</td>
      </tr>
      <tr>
        <td>Venice</td>
        <td class="pl-3">2 days</td>
        <td class="pl-3">Train</td>
      </tr>
    </table>
<br>

    <h4>Southeast Asia
        <i class="fa fa-globe"></i>
      </h4>
      <table>
        <tr>
          <th >Location</th>
          <th class="pl-3">Duration of Stay</th>
          <th class="pl-3">Mode of Transportation</th>
        </tr>
        <tr>
          <td>Bangkok</td>
          <td class="pl-3">7 days</td>
          <td class="pl-3">Plane</td>
        </tr>
        <tr>
          <td>Hanoi</td>
          <td class="pl-3">8 days</td>
          <td class="pl-3">Plane</td>
        </tr>
        <tr>
          <td>Singapore</td>
          <td class="pl-3">5 days</td>
          <td class="pl-3">Plane</td>
        </tr>
        <tr>
          <td>Bejing</td>
          <td class="pl-3">4 days</td>
          <td class="pl-3">Plane</td>
        </tr>
      </table>

      <br>

    <h4>Australia
        <i class="fas fa-globe-stand"></i>
      </h4>
      <table>
        <tr>
          <th >Location</th>
          <th class="pl-3">Duration of Stay</th>
          <th class="pl-3">Mode of Transportation</th>
        </tr>
        <tr>
          <td>Sydney</td>
          <td class="pl-3">3 days</td>
          <td class="pl-3">Train</td>
        </tr>
        <tr>
          <td>Melbourne</td>
          <td class="pl-3">2 days</td>
          <td class="pl-3">Bus</td>
        </tr>
        <tr>
          <td>Brisbane</td>
          <td class="pl-3">3 days</td>
          <td class="pl-3">Car</td>
        </tr>
        <tr>
          <td>Gold Coast</td>
          <td class="pl-3">2 days</td>
          <td class="pl-3">Train</td>
        </tr>
      </table>

</div>