<div class="row w-100 position-relative mt-5">
  <h3 class="col-3 text-center"><b>Trip Location</b></h3>
  <h3 class="col-3 text-center"><b>Trip Date</b></h3>
  <h3 class="col-3 text-center"><b>Mode of Travel</b></h3>
  <h3 class="col-3 text-center"><b>Length of stay</b></h3>
</div>
<hr>
<div class="row">
  <h4 class="col-3 text-center">Cancun</h4>
  <h4 class="col-3 text-center">January 1st, 2019</h4>
  <h4 class="col-3 text-center">Airplane/Train/Bus</h4>
  <h4 class="col-3 text-center">13 days</h4>
</div>
