<div class="row mt-5">
  <h3 class="col-4">Trip1</h3>
  <h3 class="col-4">Europe</h3>
  <h5 class="col-4">March 3, 2017</h5>
</div>
<hr>
<div class="row mt-3">
  <h3 class="col-4">Trip2</h3>
  <h3 class="col-4">Africa</h3>
  <h5 class="col-4">May 20, 2016</h5>
</div>
<hr>
<div class="row mt-3">
  <h3 class="col-4">Trip3</h3>
  <h3 class="col-4">Asia</h3>
  <h5 class="col-4">June 20, 2015</h5>
</div>
<hr>
<div class="row mt-3">
  <h3 class="col-4">Trip4</h3>
  <h3 class="col-4">Mexico</h3>
  <h5 class="col-4">August 15, 2014</h5>
</div>
