<nav class="heavy-rain-gradient navbar navbar-fixed-top navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-expand-xs navbar-light" id="navbar">
    <div class="collapse navbar-collapse" id="navbarNav">
        <a href="/trips/create">
          <img class="navbar-brand" src="/public/Adventum.png" alt="logo" style="width:5em; height:2em;">
        </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mainnav">
              <a class="nav-link" href="/trips/create">Trip Planner</a>
            </li>
            <li class="nav-item mainnav">
              <a class="nav-link" href="/profiles/trips">Trips</a>
            </li>
            <li class="nav-item mainnav">
              <a class="nav-link" href="/trips/tourist-map" style="color: white;" >Tourist Attractions</a>
            </li>
            <li class="nav-item mainnav">
              <a class="nav-link" href="/trips/ideas">Trips</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img id="prof-pic" src="<%= user.googleImg %>">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/profiles">Profile</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/auth/logout">Logout</a>
                </div>
              </li>
        </ul>
    </div>
</nav>
<div class="container">
  <% if (locals.messages && messages.error) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%=messages.error%>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% } %>
  <% if (locals.messages && messages.success) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%=messages.success%>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% } %>
</div>