html,
body,
header,
#bg {
    height: 100%;
}

#bg {
  z-index: 1;
  height: 100%;
  background: url("../pics/wallpaper.png")no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;

}

#above {
  z-index: 2;
}

#pic_logo {
  height: auto;
  width: 35%;
  margin-bottom: 20px;
}
.main-title {
  height: 15%;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
}

.btn-change{
    height: 70px;
    width: 180px;
    background: lightseagreen;
    margin: 20px;
    font-size: 22px;
    border-radius: 4px;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    color: #fff;
    display: inline-block;
    text-align: center;
}
.btn-change:hover{
    -webkit-transform: scale(1.1);
    background: #31708f;
    font-size: 25px;
}
#full-bg-container {
  position: absolute;
  top: 45%;
  height: 80%;
  transform: translateY(-50%);
  z-index: 3;
}
.modal-content {
  height: 400px;
  width: 300px;
  text-align: center;
  background: url("../pics/modal.png")no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
}
.modal-center {
  left: 50%;
  transform: translateX(-50%);
}
.modal-header {
  border: 0px;
}
.pic-google {
  display: inline;
  height: 45px;
}
.modal-bottom {
  transform: translateY(180%);
}
#pic-google:hover {
  -webkit-transform: scale(1.02);
}
#modal-header {
  font-family: ;
}
