<!DOCTYPE html>
<html>
  <head>
    <% include ./includes/head.ejs %>
    <title>Plan Vacations Quickly • Adventum</title>
  </head>
  <body>
    <% include ./includes/navbar.ejs %>
    <h1>This is the home page</h1>
    <% include ./includes/scripts.ejs %>
  </body>
</html>