<!doctype html>
<html lang="en">

  <!--/ Head block -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Adventum</title>

    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->


    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/bootstrap/font-awesome.min.css" rel="stylesheet">
    <link href="/public/css/bootstrap/mdb.min.css" rel="stylesheet">
    <link href="/public/css/social/bootstrap-social.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/public/css/splash.css" rel="stylesheet">
  </head>
  <!-- Head block /-->
  <!--/ Body block -->
  <body>

      <!--/// Background Image -->
      <div id="bg" class="view">
        <div id="above">
          <div id="full-bg-container">

            <img id="pic_logo" src="/public/pics/logo.png" class="main-title img-fluid pb-5 mb-4">

            <div class="d-block w-100 text-center pt-3 pb-5">
              <h2 class="text-white mb-5"><b>Your Adventure Awaits</b></h2>
              <h5 class="muted text-white mt-2">You choose where you want to explore</h5>
                <h5 class="muted mt-2 text-white">We'll take care of everything else!</h5>
            </div>
            <div class="d-block w-100 text-center pt-3 mt-2">
              <button class="my-3 btn-change btn" data-toggle="modal" data-target="#loginModal">Begin</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Background Image ///-->

    <!--// Modal layout -->
    <main>

      <!-- Modal -->
      <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered text-center" role="document">
          <div class="modal-content text-center modal-center">

            <div class="text-center modal-bottom">
              <a href="/auth/google"><img src="/public/assets/google_signin_buttons/web/2x/btn_google_signin_light_normal_web@2x.png" class="pic-google hoverable m-1"></a>
            </div>

          </div>

        </div>
      </div>

    </main>
    <!-- Main layout //-->

    <!--// Scripts -->
    <script type="text/javascript" src="/public/js/scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/public/js/scripts/popper.min.js"></script>
    <script type="text/javascript" src="/public/js/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/public/js/scripts/mdb.min.js"></script>
    <!-- Scripts //-->

  </body>
  <!-- Body block /-->

</html>
