<!doctype html>
<html lang="en">

  <!--/ Head block -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Adventum</title>
    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/bootstrap/font-awesome.min.css" rel="stylesheet">
    <link href="/public/css/bootstrap/mdb.min.css" rel="stylesheet">
    <link href="/public/css/social/bootstrap-social.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/public/css/index.css" rel="stylesheet">
  </head>
  <!-- Head block /-->


  <!--/ Body block -->
  <body>
    <!--/// Background Image -->
    <div id="bg" class="view">
      
    </div>

  </body>
</html>
